*{
margin:0;
padding:0;
}
body{
width:867px;
margin:0 auto;
background:#2c383e url(../images/bgindex.jpg) repeat-x;
color:#333;}
#header{

height:323px;
background:#9933CC;
}
#header embed{
width:867px;
height:323px;}
#nav{
height:51px;
background:url(../images/linkbg.jpg);
}
#nav ul{
font-size:12px;
list-style:none;
height:51px;
line-height:51px;
text-align:center;
}
#nav ul li{
width:124px;
height:51px;
float:left;
background:url(../images/linkr.gif) no-repeat right center;
}
#nav ul li.end{
width:123px;
background:none;
}
#nav ul li a{
text-decoration:none;
color:#FFFFFF;
display:inline-block;
width:124px;
height:51px;
}
#nav ul li a:hover{
text-decoration:underline;
font-size:14px;
font-weight:bold;
color:#FFFF00;
}
#nav ul li.end a{
width:123px;}

#footer{
clear:both;
height:110px;
background:url(../images/bg.gif);
}
#footer img{
margin-top:10px;
}
#footer p{
 font-size:9px;
 padding-right:10px;
 padding-top:10px;
 text-align:right;
 color:#ccc;
 font-family:Verdana, Arial, Helvetica, sans-serif;
}
