body,div,#main{
     padding:0px;
	 margin:0px;
	 
}
#header_pane1{
         background:#9356BC  url(memory/main.jpg) top center no-repeat;
		 width:100%;
		
}
#main{
      width:1100px;
	  height:230px;
}
#title_section{

float:left;
font-size: 55px;
padding:100px 50px 0 150px;
color:#FFFF99;

}
#tagline{
clear:both;
font-size: 30px;
padding:0 500px 0 200px;
color:#CC99CC;


}
#menu_pane1{

     clear: both;
    background:#CC66FF;
    height: 40px;
   
    width: 1200px;
}
ul{
    float: left;
    list-style: outside none none;
    margin: 0 auto;
   padding:0 280px 0;
    width: 930px;
}
li{
    display: inline;
}
a:link, a:visited {
    color: #f5ea01;
    font-weight: bold;
    text-decoration: none;
	}
	a:active, a:hover {
    color: #f5ea01;
    text-decoration: underline;
	}
a{
   border-right: 1px solid #333;
    color: #FFFF99;
    float: left;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    padding: 2px 0;
    text-align: center;
    text-decoration: none;
    width: 110px;

}
#content{

margin: 0 auto;
width: 1100px;

background-color:#CC66FF;

 padding:0 0px 0 10px;
}
#content_one{
  float:left;
 background:#CC66FF;
   margin:0 0 0 5px;
    width: 320px;
	height:700px;
  border:3px #CCCCCC solid;
}
#content_two{
float:left;
margin:0 0 0 5px;
    width: 470px;
	border:3px #CCCCCC solid;
	height:700px;



}
#content_three{
float:left;
    margin:0 0 0 5px;
    width: 260px;
	border:3px #CCCCCC solid;
	height:700px;

}
h1{
color:#99FF66;
font-size:20px;
}
.photo1{

margin:0 0 2px 5px;
float:left;
}
#romatic{
width:300px;
margin:0 auto;
padding:0 10px;
border-bottom:1px #FFFFCC solid;
}
#romatic1{
width:300px;
padding:0 10px;}
#holiday{
width:300px;
margin:10px auto;
padding:0 10px;
}
#holiday1{
width:300px;

padding:0 10px;
}
#kiss{
margin-top:10px;
width:460px;
padding:0 10px;
}
#meet{
width:460px;
margin:0 auto;
padding:0 10px; }
#bottom_pane1{
width:1200px;
background:#9356BC;
height:30px;
}
#bottom_section{
width:960px;
margin:0 auto;
padding:0 50px;}
#bottom_section a{
font-size:10px;
font-weight:bold;
width:45px;
}
#one{
margin:0 auto;
width:650px;
height:435px;
border:2px #CCCCCC solid;}
#your_photos{
margin:0 auto;

width:630px;
height:380px;
}

	.photos_one{
	float:left;
	width:150px;
	height:181px;
	margin:0 0 5px 5px;}
	#two{
	margin:0 auto;
	width:650px;
	height:435px;
	border:2px #CCCCCC solid;}
	#my_photos{
	margin:0 auto;
	width:630px;
	height:680px;
	}
	.photos_two{
	float:left;
	width:120px;
	height:175px;
	margin:0 0 5px 5px;}
	#gift_one{
	width:530px;
	height:280px;
	margin:0 auto;
	border:1px #FFFFCC solid;
	}
	#gifts{
	width:520px;
	height:250px;
	margin:0 auto;
	}
	.special_gifts{
	float:left;
	width:120px;
	height:195px;
	margin:0 0 5px 5px;}
	#gift_two{
	width:530px;
	height:350px;
	margin:0 auto;
	border:1px #FFFFCC solid;
	}
	#romatic_three{
	width:1000px;
	height:450px;
	margin:0 auto;
	
	}
	#romatic_one{
	float:left;
	width:580px;
	height:400px;
	border:1px #FFFFCC solid;
	}
	#donghua{
	width:550px;
	height:380px;
	margin:0 auto;
	}
	#romatic_two{
	float:left;
	width:400px;
	height:370px;
	margin:0 5px 0 5px;
	padding:30px 0 0 0;
	border:1px #FFFFCC solid;
	}
	#holiday_one{
	width:650px;
	height:520px;
	margin:0 auto;
	border:3px #CC99FF solid;
	}
	#holiday_image{
	width:600px;
	height:380px;
	margin:0 auto;
	}
	#holiday_two{
	width:650px;
	height:230px;
	margin:0 auto;
	border:3px #CC99FF solid;
	}
	#holiday_images{
	width:250px;
	height:180px;
	margin:0 0 0 20px;
	padding:30px 0 0 0;
	float:left;
	
	}
	.holiday_image1{
	width:120px;
	height:175px;
	float:left;
	margin:0 0 0 3px;
	}
	#holiday_words{
	width:300px;
	height:180px;
	float:left;
	padding:30px 0 0 10px;
	}
	
	